@media screen and (max-width: 1814px)
  .section_gallery__gallery_box
    justify-content: center

@media screen and (max-width: 1230px)
  .section_clients__content_box__aside__button
    display: none
  .section_header__content_box__content
    margin-left: 0
    min-width: 0

  .section_blog__content_box
    justify-content: space-around

  .section_about__content_box
    position: static
    margin-top: 60px

  .section_about
    background-size: cover
    background-position: center
    padding-bottom: 30px

@media screen and (max-width: 1180px)
  .section_gallery__gallery_box__left
    justify-content: center

@media screen and (max-width: 1160px)
  .section_event__content_box
    flex-direction: column
    align-items: center

  .section_chef
    background-size: cover
    padding-bottom: 30px

  .section_chef__content_box
    position: static
    margin-top: 50px

  .section_chef__content_box_container
    padding-bottom: 10px

@media screen and (max-width: 1110px)
  .section_menu__content_box
    justify-content: center

  .section_blog__content_box_aside
    padding-bottom: 50px
  .section_menu__content_box__aside
    margin: 10px
@media screen and (max-width: 980px)
  .section_team__content_box
    justify-content: center
  .section_team__content_box__article
    margin: 20px

@media screen and (max-width: 910px)
  .section_welcome__content_box
    flex-wrap: wrap
    justify-content: center

  .section_welcome__content_box__category
    margin: 10px

  .section_header__hamburger
    display: block

  .section_header__menu
    display: none
    margin: 0

  .section_header__menu.is-hidden
    display: block
    position: absolute
    z-index: 20
    left: 0
    right: 0
    background-color: #f3f1ec
    margin: 0 20px
@media screen and (max-width: 800px)
  .section_contact__form__box
    flex-wrap: wrap
    justify-content: center

  .section_contact__form__box__name,
  .section_contact__form__box__mail
    margin:  10px

  .section_contact__form__box__textarea
    width: 85%

@media screen and (max-width: 800px)
  .section_header__logo_box__contact,
  .section_header__logo_box__buy
    padding-top: 100px
    white-space: nowrap

@media screen and (max-width: 700px)
  .section_footer__box__contact,
  .section_footer__box__address
    padding-top: 100px

@media screen and (max-width: 485px)
  .section_header__logo_box__contact,
  .section_header__logo_box__buy
    padding: 100px 0 0 0

  .section_header__content_box__content__text
    font-size: 35px

  .section_footer__box
    flex-direction: column
    align-items: center

  .section_footer__box__title_box
    transform: translate(0, 0)

  .section_footer__box__contact,
  .section_footer__box__address
    padding: 50px 0 50px 0

  .section_footer
    padding-top: 30px

@media screen and (max-width: 405px)
  .section_header__logo_box
    flex-direction: column
    align-items: center

  .section_header__logo_box__logo
    transform: translate(0px, 30px)

  .section_about__content_box__content
    padding: 5px

  .section_contact__form__box__name,
  .section_contact__form__box__mail,
  .section_contact__form__box__textarea
    padding-left: 15px

  .section_chef__content_box_container__button
    margin: 0 auto
