<section class="section_about">
    <div class="container">
        <div class="section_about__logo_box">
            <p class="section_about__logo_box__about">
                about us
            </p>
            <p class="section_about__logo_box_content">
                A Short Story About
            </p>
            <p class="section_about__logo_box_content">
                Our Company
            </p>
        </div>
        <div class="section_about__content_box">
            <figure class="section_about__content_box__figure">
                <img src="images/portfolio/about_cnt.jpg" alt="" class="section_about__content_box__figure__img">
            </figure>
            <div class="section_about__content_box__content">
                <h3 class="section_about__content_box__content__title">
                    A Perfect Blend of Sensational Food,<br>
                    Inspiring Ideas and Professional Staff
                </h3>
                <p class="section_about__content_box__content__history">
                    <span class="section_about__content_box__content__years">
                        1997
                    </span>
                    - Lorem ipsum dolor sit amet, consecte adipiscing elit, sed<br>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed <br>
                    diam nonummy nibh euismod tincidunt ut laoreet dolore<br>
                    magna aliquam erat volutpat. Ut wisi enim ad minim veniam,<br>
                    quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut<br>
                    aliquip ex ea commodo consequat. Duis autem vel eum iriure.<br>
                    dolor in hendrerit in vulputate velit.

                </p>
                <a href="" class="section_about__content_box__btn">
                    read full story
                </a>
            </div>

        </div>

    </div>
</section>