<section class="section_blog">
    <div class="container">
        <div class="section_blog__title_box">
            <p class="section_blog__title_box__content">
                blog
            </p>
            <p class="section_blog__title_box__title">
                Recent Articles
            </p>
        </div>
        <div class="section_blog__content_box">
            <aside class="section_blog__content_box_aside">
                <figure class="section_blog__content_box__aside__figure">
                    <img src="images/portfolio/blog_chery_img.png" alt="" class="section_blog__content_box__aside__figure__img">
                </figure>
                <time class="section_blog__content_box__aside__time">
                    jun 20,2016
                </time>
                <p class="section_blog__content_box__aside__content">
                    We Can Help Find a Location<br> That’s Right for You
                </p>
            </aside>
            <aside class="section_blog__content_box_aside">
                <figure class="section_blog__content_box__aside__figure">
                    <img src="images/portfolio/blog_shrimp_img.png" alt="" class="section_blog__content_box__aside__figure__img">
                </figure>
                <time class="section_blog__content_box__aside__time">
                    jun 20,2016
                </time>
                <p class="section_blog__content_box__aside__content">
                    Catering Services for<br>
                    Fabulous Corporate Events
                </p>
            </aside>
            <aside class="section_blog__content_box_aside">
                <figure class="section_blog__content_box__aside__figure">
                    <img src="images/portfolio/blog_wine_img.png" alt="" class="section_blog__content_box__aside__figure__img">
                </figure>
                <time class="section_blog__content_box__aside__time">
                    jun 20,2016
                </time>
                <p class="section_blog__content_box__aside__content">
                    Planning a Wedding Menu<br> Can Be Daunting
                </p>
            </aside>
        </div>
        <a href="" class="section_blog__button">
            more articles
        </a>
    </div>
</section>