<section class="section_book">
    <div class="container">
        <div class="section_book__title_box">
            <p class="section_book__title_box__book">
                book today!
            </p>
            <p class="section_book__title_box__title">
                Book Your Tasting Session<br>
                <span class="section_book__title_box__title__bottom">or Discuss Your Project</span>
            </p>
        </div>
        <a href="" class="section_book__bottom">
            send free request
        </a>
    </div>
</section>