<section class="section_chef">
    <div class="container">
        <div class="section_chef__title_box">
            <p class="section_chef__title_box__content">
                chef
            </p>
            <p class="section_chef__title_box__title">
                Who’s Behind Great<br>
                Service?
            </p>
        </div>
        <div class="section_chef__content_box">
            <figure class="section_chef__content_box__figure">
                <img src="images/portfolio/chef_img.png" alt="" class="section_chef__content_box__figure__img">
            </figure>
            <div class="section_chef__content_box_container">
                <span class="section_chef__content_box_container__img">
                    “
                </span>
                <p class="section_chef__content_box_container__content">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna
                    aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nos-
                    trud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                    ea commodo consequat. Duis autem vel eum iriure dolor in hen-
                    drerit in vulputate velit esse molestie consequat, vel illum dolore
                    eu feugiat  nulla facilisis at vero eros.
                </p>
                <span class="section_chef__content_box_container__name">
                    Andreo Moreno
                </span>
                <span class="section_chef__content_box_container__chef">
                    Master-Chef
                </span>
                <a href="" class="section_chef__content_box_container__button">
                    view all team
                </a>
            </div>
        </div>
    </div>
</section>