<section class="section_clients">
    <div class="container">
        <div class="section_clients__title_box">
            <p class="section_clients__title_box__content">
                testimionials
            </p>
            <p class="section_clients__title_box__title">
                Clients About Us
            </p>
        </div>
        <div class="section_clients__content_box">
            <aside class="section_clients__content_box__aside">
                <button class="section_clients__content_box__aside__button section_clients__content_box__aside__button--left">
                    <img src="images/pic/icon/welcome__btn.png" alt="" class="section_clients__content_box__aside__button__img">
                </button>
                <figure class="section_clients__content_box__aside__figure">
                    <img src="images/portfolio/clients_img.png" class="section_clients__content_box__aside__figure_img">

                </figure>
                <p class="section_clients__content_box__aside__content">
                    “Having worked with a number of caterers over the years, their level of service was notably
                    <br>high and they were integral to making the day a success”.
                </p>
                <button class="section_clients__content_box__aside__button">
                    <img src="images/pic/icon/welcome__btn.png" alt="" class="section_clients__content_box__aside__button__img">
                </button>
                <div class="section_clients__content_box__aside__box_client">
                    <p class="section_clients__content_box__aside__box_client__content">
                        laura & Adam Ashley, NY
                    </p>
                </div>
            </aside>
        </div>
    </div>
</section>