<section class="section_contact">
    <div class="container">
        <div class=" section_contact__title_box">
            <p class="section_contact__title_box__content">
                contact us
            </p>
            <p class="section_contact__title_box__title">
                Leave a Feadback or<br>
                Ask a Question
            </p>
        </div>
        <form action="" class="section_contact__form">
            <div class="section_contact__form__box">
                <input type="text" placeholder="Your name:" class="section_contact__form__box__name">
                <input type="email" placeholder="e-mail address:" class="section_contact__form__box__mail">
            </div>
            <textarea name="" id="" placeholder=" send a message:"  class="section_contact__form__box__textarea"></textarea>
            <button class="section_contact__form__button">
                send message
            </button>
        </form>
        <div class="section_contact__bottom_button--box">
            <a href="#header" class="section_contact__bottom_button">
                <img src="images/pic/icon/welcome__btn.png" alt="" class="section_contact__bottom_button__img">
                <p class="section_contact__bottom_button__text">
                    top
                </p>
            </a>
        </div>
    </div>
</section>