<section class="section_event">
    <div class="container">
        <div class="section_event__title_box">
            <p class="section_event__title_box__services">
                services
            </p>
            <p class="section_event__title_box__title">
                Planning a <br>
                Event?
            </p>
        </div>
        <div class="section_event__content_box">
            <aside class="section_event__content_box__aside section_event__content_box__aside--align_rht">
                <div class="section_event__content_box__aside__title_box">
                    <span class="section_event__content_box__aside__title">
                        weddings
                    </span>
                    <span class="section_event__content_box__aside__number">
                        01
                    </span>
                </div>
                <p class="section_event__content_box__aside__content">
                    Lorem ipsum dolor sit amet, consectetuer<br>
                    adipiscing elit, sed diam nonummy nibh
                </p>
                <div class="section_event__content_box__aside__title_box">
                    <span class="section_event__content_box__aside__title">
                        corporate
                    </span>
                    <span class="section_event__content_box__aside__number">
                         02
                    </span>
                </div>
                <p class="section_event__content_box__aside__content">
                    Lorem ipsum dolor sit amet, consectetuer<br>
                    adipiscing elit, sed diam nonummy nibh
                </p>
                <div class="section_event__content_box__aside__title_box">
                    <span class="section_event__content_box__aside__title">
                        socials
                    </span>
                    <span class="section_event__content_box__aside__number">
                        03
                    </span>
                </div>
                <p class="section_event__content_box__aside__content">
                    Lorem ipsum dolor sit amet, consectetuer<br>
                    adipiscing elit, sed diam nonummy nibh
                </p>
            </aside>
            <aside class="section_event__content_box__aside">
                <figure class="section_event__content_box__aside__figure">
                    <img src="images/portfolio/event_img.png" alt="" class="section_event__content_box__aside__img">
                </figure>
            </aside>
            <aside class="section_event__content_box__aside">
                <div class="section_event__content_box__aside__title_box">
                    <span class="section_event__content_box__aside__number">
                        04
                    </span>
                    <span class="section_event__content_box__aside__title section_event__content_box__aside__title--after">
                        picnics
                    </span>
                </div>
                <p class="section_event__content_box__aside__content">
                    Lorem ipsum dolor sit amet, consectetuer<br>
                    adipiscing elit, sed diam nonummy nibh
                </p>
                <div class="section_event__content_box__aside__title_box">
                    <span class="section_event__content_box__aside__number">
                        05
                    </span>
                    <span class="section_event__content_box__aside__title section_event__content_box__aside__title--after">
                        festivals
                    </span>
                </div>
                <p class="section_event__content_box__aside__content">
                    Lorem ipsum dolor sit amet, consectetuer<br>
                    adipiscing elit, sed diam nonummy nibh
                </p>
                <div class="section_event__content_box__aside__title_box">
                    <span class="section_event__content_box__aside__number">
                        06
                    </span>
                    <span class="section_event__content_box__aside__title section_event__content_box__aside__title--after">
                        private Paties
                    </span>
                </div>
                <p class="section_event__content_box__aside__content">
                    Lorem ipsum dolor sit amet, consectetuer<br>
                    adipiscing elit, sed diam nonummy nibh
                </p>

            </aside>
        </div>
        <a href="" class="section_event__button">
            more services
        </a>
    </div>
</section>