<footer class="section_footer">
    <div class="container">
        <div class="section_footer__box">
            <article class="section_footer__box__contact">
                <p class="section_footer__box__contact__number">
                    123-456-7890
                </p>
                <p class="section_footer__box__contact__mail">
                    info@yoursite.com
                </p>
            </article>
            <div class="section_footer__box__title_box">
                <p class="section_footer__box__title_box__title_top">
                    Royal
                </p>
                <p class="section_footer__box__title_box__title_bottom">
                    event
                </p>
                <p class="section_footer__box__title_box__title_content">
                    catering
                </p>
            </div>
            <article class="section_footer__box__address">
                <p class="section_footer__box__address__content_top">
                    123, New Lenox
                </p>
                <p class="section_footer__box__address__content_bottom">
                    Chicago, IL 60606
                </p>
            </article>
        </div>
        <div class="section_footer__social_network">
            <a class="section_footer__social_network__link">
                <img src="images/pic/icon/tviter.png" alt="" class="section_footer__social_network__figure__img">
            </a>
            <a class="section_footer__social_network__link">
                <img src="images/pic/icon/fb.png" alt="" class="section_footer__social_network__figure__img">
            </a>
            <a class="section_footer__social_network__link">
                <img src="images/pic/icon/telegram.png" alt="" class="section_footer__social_network__figure__img">
            </a>
            <a class="section_footer__social_network__link">
                <img src="images/pic/icon/ins.png" alt="" class="section_footer__social_network__figure__img">
            </a>
        </div>
        <p class="section_footer__failure">
            Ancora © 2016 All Rights Reserved <a class="section_footer__failure__link">Terms of Use</a> and <a class="section_footer__failure__link">Privacy Policy</a>
        </p>
    </div>
</footer>