<section class="section_gallery">
    <div class="section_gallery__title_box">
        <p class=" section_gallery__title_box__content">
            gallery
        </p>
        <p class=" section_gallery__title_box__title">
            Check Our Recent<br>
            Projects
        </p>
    </div>
    <div class=" section_gallery__gallery_box">
        <div class="section_gallery__gallery_box__left">
            <figure class="section_gallery__gallery_box__left__figure">
                <img src="images/portfolio/gallery_1.png" alt="" class="section_gallery__gallery_box__figure__img">
            </figure>
            <figure class="section_gallery__gallery_box__left__figure">
                <img src="images/portfolio/gallery_2.png" alt="" class="section_gallery__gallery_box__figure__img">
            </figure>
            <figure class="section_gallery__gallery_box__left__figure">
                <img src="images/portfolio/gallery_4.png" alt="" class="section_gallery__gallery_box__figure__img">
            </figure>
            <figure class="section_gallery__gallery_box__left__figure">
                <img src="images/portfolio/gallery_5.png" alt="" class="section_gallery__gallery_box__figure__img">
            </figure>
        </div>
        <div class="section_gallery__gallery_box__right">
            <figure class="section_gallery__gallery_box__right__figure">
                <img src="images/portfolio/gallery_3.png" alt="" class="section_gallery__gallery_box__figure__img">
            </figure>
        </div>

    </div>
    <a href="" class="section_gallery__button">
        view more projects
    </a>
</section>