<header class="section_header" id="header">
    <div class="section_header--head">
        <div class="container">
            <button class="section_header__hamburger">
                <div class="section_header__hamburger__button"></div>
                <div class="section_header__hamburger__button"></div>
                <div class="section_header__hamburger__button"></div>
            </button>
            <menu class="section_header__menu">
                <img src="./images/pic/icon/header-hause.png" class="section_header__menu__icon">
                <a href="" class=" section_header__menu__link">
                    about us
                </a>
                <a href="" class="section_header__menu__link">
                    pages
                </a>
                <a href="" class="section_header__menu__link">
                    services
                </a>
                <a href="" class="section_header__menu__link">
                    menu
                </a>
                <a href="" class="section_header__menu__link">
                    gallery
                </a>
                <a href="" class="section_header__menu__link">
                    blog
                </a>
                <a href="" class="section_header__menu__link">
                    contacts
                </a>
            </menu>
        </div>
    </div>
    <div class="container">
        <div class=" section_header__logo_box">
            <div class="section_header__logo_box__contact">
                <img src="./images/pic/icon/header_tell.png" class="section_header__logo_box__contact__icon">
                <a href="tell:123-456-7890" class="section_header__logo_box__contact__tel" >
                    123-456-7890
                </a>
                <a href="mailto:info@yoursite.com" class="section_header__logo_box__contact__email">
                    info@yoursite.com
                </a>
            </div>
            <div class="section_header__logo_box__logo">
                <p class="section_header__logo_box__logo__content section_header__logo_box__logo__content--top">
                    Royal
                </p>
                <p class="section_header__logo_box__logo__content section_header__logo_box__logo__content--logo">
                    event
                </p>
                <p class="section_header__logo_box__logo__content section_header__logo_box__logo__content--bottom">
                    catering
                </p>
            </div>
            <div class="section_header__logo_box__buy">
                <img src="./images/pic/icon/header_buy.png" class="section_header__logo_box__buy__img">
                <span class="section_header__logo_box__buy__content">
                    Your cart:
                </span>
                <p class="section_header__logo_box__buy__content">
                    0 Items - $0.00
                </p>
            </div>
        </div>
    </div>
    <div class="section_header__content_box--relative">
    <div class="section_header__content_box ">
        <div class="section_header__content_box-owl_box owl-carousel owlHeader">
            <div class="section_header__content_box__owl bg1 item"></div>
            <div class="section_header__content_box__owl bg2 item"></div>
            <div class="section_header__content_box__owl bg3 item"></div>
            <div class="section_header__content_box__owl bg4 item"></div>
        </div>
        <div class="container">
            <div class="section_header__content_box__content">
                <p class="section_header__content_box__content__text">
                    A perfect blend of
                </p>
                <p class="section_header__content_box__content__text">
                    sensational food
                </p>
                <a href="" class="section_header__content_box__link">
                    order service
                </a>
            </div>

        </div>
        <button class="section_welcome__content_box__category__button section_header__content_box__button ">
            <img src="images/pic/icon/welcome__btn.png" alt="" class="section_welcome__content_box__category__button__img">
        </button>
    </div>
    </div>

</header>