<section class="section_menu">
    <div class="container">
        <div class="section_menu__title_box">
            <p class="section_menu__title_box__catering">
                catering
            </p>
            <p class="section_menu__title_box__title">
                Our Menu
            </p>
        </div>
        <div class="section_menu__content_box">
            <aside class="section_menu__content_box__aside">
                <figure class="section_menu__content_box__aside__figure">
                    <img src="images/portfolio/menu_shrimp.png" alt="" class="section_menu__content_box__aside__figure__img">
                </figure>
                <p class="section_menu__content_box__aside__content">
                    Canapes
                </p>
                <a href="" class="section_menu__content_box__aside__link">
                    <img src="images/pic/icon/welcome__btn.png" alt="" class="section_menu__content_box__aside__link__img">
                </a>
            </aside>

            <aside class="section_menu__content_box__aside">
                <figure class="section_menu__content_box__aside__figure">
                    <img src="images/portfolio/menu_desert.png" alt="" class="section_menu__content_box__aside__figure__img">
                </figure>
                <p class="section_menu__content_box__aside__content">
                    small plates
                </p>
                <a href="" class="section_menu__content_box__aside__link">
                    <img src="images/pic/icon/welcome__btn.png" alt="" class="section_menu__content_box__aside__link__img">
                </a>
            </aside>

            <aside class="section_menu__content_box__aside">
                <figure class="section_menu__content_box__aside__figure">
                    <img src="images/portfolio/menu_sandwich.png" alt="" class="section_menu__content_box__aside__figure__img">
                </figure>
                <p class="section_menu__content_box__aside__content">
                    sweets
                </p>
                <a href="" class="section_menu__content_box__aside__link">
                    <img src="images/pic/icon/welcome__btn.png" alt="" class="section_menu__content_box__aside__link__img">
                </a>
            </aside>

            <aside class="section_menu__content_box__aside">
                <figure class="section_menu__content_box__aside__figure">
                    <img src="images/portfolio/menu_wineglass.png" alt="" class="section_menu__content_box__aside__figure__img">
                </figure>
                <p class="section_menu__content_box__aside__content">
                    drinks
                </p>
                <a href="" class="section_menu__content_box__aside__link">
                    <img src="images/pic/icon/welcome__btn.png" alt="" class="section_menu__content_box__aside__link__img">
                </a>
            </aside>
        </div>
        <div class="section_menu__bottom">
            <p class="section_menu__bottom__more">
                & much more sensational  <span class="section_menu__bottom__more__span">food & drinks...</span>
            </p>
            <a href="" class="section_menu__bottom__link">
                view full menu
            </a>
        </div>
    </div>

</section>