<section class="section_team">
    <div class="container">
        <div class="section_team__title_box">
            <p class="section_team__title_box__content">
                staff
            </p>
            <p class="section_team__title_box__title">
                Meet the Team
            </p>
        </div>
        <div class="section_team__content_box">
            <article class="section_team__content_box__article">
                <figure class="section_team__content_box__article__figure">
                    <img src="images/portfolio/team_amanda.png" alt="" class="section_team__content_box__article__figure__img">
                </figure>
                <p class="section_team__content_box__article__name">
                    Amanda Finch
                </p>
                <p class="section_team__content_box__article__position">
                    Chef, Co-Founder
                </p>
            </article>
            <article class="section_team__content_box__article">
                <figure class="section_team__content_box__article__figure">
                    <img src="images/portfolio/team_joseph.png" alt="" class="section_team__content_box__article__figure__img">
                </figure>
                <p class="section_team__content_box__article__name">
                    Joseph Verder
                </p>
                <p class="section_team__content_box__article__position">
                    Chef
                </p>
            </article>
            <article class="section_team__content_box__article">
                <figure class="section_team__content_box__article__figure">
                    <img src="images/portfolio/team_anthon.png" alt="" class="section_team__content_box__article__figure__img">
                </figure>
                <p class="section_team__content_box__article__name">
                    Anthony Mann
                </p>
                <p class="section_team__content_box__article__position">
                    Waiter
                </p>
            </article>
            <article class="section_team__content_box__article">
                <figure class="section_team__content_box__article__figure">
                    <img src="images/portfolio/team_julia.png" alt="" class="section_team__content_box__article__figure__img">
                </figure>
                <p class="section_team__content_box__article__name">
                    Julia Green
                </p>
                <p class="section_team__content_box__article__position">
                    Waitress
                </p>
            </article>
        </div>
    </div>
</section>