<section class="section_welcome">
    <div class="container">
        <div class="section_welcome__logo_box">
            <p class="section_welcome__logo_box__catering">
                catering
            </p>
            <p class="section_welcome__logo_box__logo">
                Welcome to the Best
            </p>
            <p class="section_welcome__logo_box__logo">
                Catering Company
            </p>
        </div>
        <div class="section_welcome__content_box">
            <aside class="section_welcome__content_box__category section_welcome__content_box__category--events">
                <p class="section_welcome__content_box__category__content section_welcome__content_box__category__content--events">
                    Events
                </p>
                <button class="section_welcome__content_box__category__button">
                    <img src="images/pic/icon/welcome__btn.png" alt="" class="section_welcome__content_box__category__button__img">
                </button>
            </aside>
            <aside class="section_welcome__content_box__category section_welcome__content_box__category--food">
                <p class="section_welcome__content_box__category__content">
                    Food &<br>
                    Drinks
                </p>
                <button class="section_welcome__content_box__category__button">
                    <img src="images/pic/icon/welcome__btn.png" alt="" class="section_welcome__content_box__category__button__img">
                </button>
            </aside>
            <aside class="section_welcome__content_box__category section_welcome__content_box__category--venues">
                <p class="section_welcome__content_box__category__content section_welcome__content_box__category__content--venues">
                    Venues
                </p>
                <button class="section_welcome__content_box__category__button">
                    <img src="images/pic/icon/welcome__btn.png" alt="" class="section_welcome__content_box__category__button__img">
                </button>
            </aside>

        </div>
        <a href="" class="section_welcome__content_box__button">
            more about us
        </a>
    </div>
</section>